.env/
.idea/
/28-02  03-03/Week 6.3 spiegazione.ipynb
/28-02  03-03/exercises spiegazione.ipynb
/26-02/eserciziospiegato.ipynb
/26-02/Week 6.2 spiegazione.ipynb
/05-03/Week 7.2 spiegazione.ipynb
/05-03/Exercise spiegato.ipynb
/07-03/Week 7.3 spiegazione.ipynb
/10-03/Week 8.2 spiegazione.ipynb
/12-03/Week 8.3 SPIEGAZIONE.ipynb
esercizi 19-02
esercizi 17-02
.ipynb_checkpoints