/.env
/.idea
/28-02  03-03/Week 6.3 spiegazione.ipynb
/28-02  03-03/exercises spiegazione.ipynb
/.ipynb_checkpoints
/26-02/eserciziospiegato.ipynb
/26-02/Week 6.2 spiegazione.ipynb
/esercizi 17-02
/esercizi 19-02
